doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap-ui.css')
    link(rel='stylesheet', href='/stylesheets/forum-style.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/flat-ui.css')
    link(rel='icon', type='image/png', href='favicon.png')
  body
    block content
    //include footer

  script(src='/javascripts/jquery-1.9.1.js')
  script(src='/javascripts/jquery-ui-1.10.0.custom.min.js')
  script(src='/javascripts/jquery.dropkick-1.0.0.js')
  script(src='/javascripts/custom_checkbox_and_radio.js')
  script(src='/javascripts/custom_radio.js')
  script(src='/javascripts/jquery.tagsinput.js')
  script(src='/javascripts/bootstrap-tooltip.js')
  script(src='/javascripts/jquery.placeholder.js')
  script(src='/javascripts/application.js')

  script(src='/javascripts/bootstrap.min.js')