extends layout

block content

	.navbar.navbar-inverse.navbar-static-top
		.navbar-inner
			a.brand(href='.') ChefOnea
			ul.nav
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown') Matrix
						b.caret
					ul.dropdown-menu
						li.dropdown-submenu
							a(href='#') New matrix
							ul.dropdown-menu
								li
									a(href='#', id='nm2x2') 2 x 2
								li
									a(href='#', id='nm3x3') 3 x 3
								li.divider
								li
									a(href='#custom', id='nm-custom', data-toggle='modal') Custom...
						li
							a(href='#') New identity matrix

	.content
		table#m0.matrix
			tr
				td
					.holder(contenteditable) &#9632;
				td
					.holder(contenteditable) &#9632;
			tr
				td
					.holder(contenteditable) &#9632;
				td
					.holder(contenteditable) &#9632;
	.modal.hide.fade(aria-labelledby='customLabel', aria-hidden='true', role='dialog', id='add-custom-matrix')
		.modal-header
			button.btn.pull-right(type='button', data-dismiss='modal', aria-hidden='true') &times;
			h3#customLabel Add new custom matrix
		.modal-body
			label Number of rows:
			input(type='text', id='nrows')
			label Number of columns:
			input(type='text', id='ncols')
			br
			input(type='checkbox', id='idmat')
			| Is this an identity matrix?
		.modal-footer
			.btn.btn-success(id='confirm-add-custom-matrix') Add to workspace	
			.btn.btn-danger(data-dismiss='modal', aria-hidden='true') Close