extends layout

block content

	.navbar.navbar-inverse.navbar-static-top
		.navbar-inner
			a.brand(href='.') ChefOnea
			ul.nav
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown') Matrix
						b.caret
					ul.dropdown-menu
						li.dropdown-submenu
							a(href='#') New matrix
							ul.dropdown-menu
								li
									a(href='#', id='nm2x2') 2 x 2
								li
									a(href='#', id='nm3x3') 3 x 3
								li.divider
								li
									a(href='#', id='nm-custom') Custom...
						li
							a(href='#') New identity matrix

	.content
		table#m1.matrix(contenteditable)
			tr
				td
					.holder(contenteditable) &#9632;
				td
					.holder(contenteditable) &#9632;
			tr
				td
					.holder(contenteditable) &#9632;
				td
					.holder(contenteditable) &#9632;