extends layout

block content

	.navbar.navbar-inverse.navbar-static-top
		.navbar-inner
			.wrapper
				a.brand(href='/')
					span.fui-cmd-24.space-after
					| Matrix
				ul.nav.pull-left
					li
						a(href='#'): small Workspace
						ul
							li
								a(href='#') New matrix
								ul
									li: a(href='#', id='nm2x2') 2 x 2
									li: a(href='#', id='nm3x3') 3 x 3
									li.divider
									li: a(href='#custom', id='nm-custom', data-toggle='modal') Custom...
							li: a(href='#identity', id='nm-identity', data-toggle='id-modal') New identity matrix...
					li: a(href='#', id='about', data-toggle='about-modal'): small About
				ul.nav.pull-right
					li: a(href='/forum')
						//span.fui-bubble-24.forum-icon
						small Forum
					li: a(href='#')
						small Log in
						span.fui-man-16.space-before

	.content(oncontextmenu='return false;')
		ul.dropdown-menu(id='context-menu')
			li: a#transpose(href='#') Transpose
			li: a#determinant(href='#') Determinant
			li.divider
			li: a#sum-with(href='#') Sum with...
			li: a#subtract-from(href='#') Subtract from...
			li: a#multiply-by(href='#') Multiply by...
			li.divider
			li: a#removemat(href='#') Remove



	.modal.hide.fade(aria-labelledby='customLabel', aria-hidden='true', role='dialog', id='add-custom-matrix')
		.modal-header
			h3#customLabel Add new custom matrix
		.modal-body
			label Number of rows:
			input.number(type='text', id='nrows')
			label Number of columns:
			input.number(type='text', id='ncols')
			br
			label.checkbox(for='idmat')
				input(type='checkbox', id='idmat', value)
				| Is this an identity matrix?
		.modal-footer
			.btn.btn-success(id='confirm-add-custom-matrix') Add to workspace	
			.btn(data-dismiss='modal', aria-hidden='true') Close

	.modal.hide.fade.id-modal(aria-labelledby='customLabel', aria-hidden='true', role='dialog', id='add-identity-matrix')
		.modal-header
			h3#customLabel Add new identity matrix
		.modal-body
			label Number of rows and columns:
			input.number(type='text', id='nrows1')
		.modal-footer
			.btn.btn-success(id='confirm-add-identity-matrix') Add to workspace	
			.btn(data-dismiss='modal', aria-hidden='true') Close

	.modal.hide.fade(aria-labelledby='customLabel', aria-hidden='true', role='dialog', id='about-modal')
		.modal-header
			h3#customLabel About
		.modal-body
			p Matrix is a platform designed to help students perform simple computations with matrices. The platform is open source, designed and implemented by Teodor Onea and Alexandru Onea in May 2013. Feedback and contributions are welcomed. The project can be found here:
			p: a(href='https://github.com/alexonea/chefonea') Github
			p For further details on implementation, questions or suggestions feel free to contact us:
			p: a(href='mailto:onea.alex@gmail.com') Alexandru Onea
		.modal-footer
			.btn(data-dismiss='modal', aria-hidden='true') Close