doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/matrix.css')
    link(rel='icon', type='image/png', href='favicon.png')
  body
    block content

  script(src='/javascripts/jquery-1.9.1.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/jquery-ui-1.10.2.custom.js')
  script(src='/javascripts/matrix.js')
  script(src='/javascripts/interface.js')