html, body {
	padding: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: url('../images/background.png');
	height: 100% !important;
	width: 100% !important;
}

.alert {
	display: none;
	position: fixed;
	top: 70px !important;
}

.workspace-title {
	text-align: center;
	border-radius: 8px;
}

.workspace-title:hover {
	background: rgb(190, 207, 224);
	cursor: pointer;
}