body table.matrix {
	border: 1px solid black;
	border-radius: 6px !important;
	border-top: none;
	border-bottom: none;
	border-collapse: separate;
	border-spacing: 3px;
	padding: 3px;
	margin: 10px;
	display: inline-table;
}

.matrix:hover {
	cursor: move;
	background: #ffc;
}

.matrix:focus {
	outline: none;
}

.holder {
	height: auto;
	width: auto;
	padding: 3px 5px;
	text-align: center;
}

.holder:focus {
	outline: none;
}

.holder:hover {
	background-color: #eee;
	cursor: pointer;
}

.sequence {
	padding: 5px;
	margin: 10px;
	white-space: nowrap;
	height: 100%;
}

.sequence:hover {
	outline: 1px dotted #ccc;
}

.operator {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
}

.helper {
	display: inline-block;
	vertical-align: middle;
	height:100%;
}

.notation {
	display: inline-block;
	margin-left: -2px;
	height: 100%;
	margin-left: -7px;
	margin-top: 10px;
	vertical-align: top;
}

.result {
	padding: 5px;
}