body table.matrix {
	border: 1px solid black;
	border-radius: 10px !important;
	border-top: none;
	border-bottom: none;
	border-collapse: separate;
	border-spacing: 3px;
	padding: 3px;
}

.matrix:hover {
	cursor: move;
}

.matrix:focus {
	outline: none;
}

.holder {
	height: 15px;
	width: 13px; //auto !important;
	padding: 3px;
	text-align: center;
}

.holder:hover {
	background-color: #eee;
	cursor: pointer;
}