html, body {
	padding: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: url('../images/background.png');
	height: 100% !important;
	width: 100% !important;
}

a {
	color: #00B7FF;
}

.content {
	padding: 30px;
}

#context-menu {
	position: absolute;
	top: 0;
	left: 0;
}

.wrapper {
	margin: 0 50px !important;
}

a {
	text-decoration: none !important;
}

.brand {
	color: #fff !important;
}